@charset "UTF-8";
/* eksempel p├Ñ variable */
.container {
  background-color: #f9f0bb;
  width: 60%;
  background-image: url("images/page.png");
  background-position-x: 50%;
  background-position-y: 0%;
  background-size: initial;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial; }

.header .gif {
  width: 100%;
  margin-top: 10px; }
.header h1 {
  text-align: center;
  font-weight: normal;
  margin-top: 36px;
  font-family: sans-serif;
  margin-left: 30px;
  padding-top: 10px; }
.header .logo {
  width: 30%;
  float: right;
  margin-top: 10px;
  margin-right: 30px; }

/* Green */
/* --- Style --- */
.navbar-default {
  background-color: #695925;
  border-color: #695925;
  margin-left: -15px;
  margin-right: -15px;
  border-radius: 0; }
  .navbar-default .navbar-brand {
    color: #ffffff; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #8B7355; }
  .navbar-default .navbar-nav > li > a {
    margin-left: 20px;
    margin-right: 20px;
    color: #ffffff; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #8B7355; }
  .navbar-default .navbar-nav .active > a, .navbar-default .navbar-nav .active > a:hover, .navbar-default .navbar-nav .active > a:focus {
    color: #8B7355;
    background-color: #DEB887; }
  .navbar-default .navbar-nav .open > a, .navbar-default .navbar-nav .open > a:hover, .navbar-default .navbar-nav .open > a:focus {
    color: #8B7355;
    background-color: #DEB887; }
    .navbar-default .navbar-nav .open > a .caret, .navbar-default .navbar-nav .open > a:hover .caret, .navbar-default .navbar-nav .open > a:focus .caret {
      border-top-color: #8B7355;
      border-bottom-color: #8B7355; }
  .navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff; }
  .navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #8B7355;
    border-bottom-color: #8B7355; }
  .navbar-default .navbar-toggle {
    border-color: #DEB887; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #DEB887; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #ffffff; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #8B7355;
      background-color: #DEB887; } }
/* Do not take in account */
html {
  padding-top: 30px; }

a.solink {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background: #f3f5f6;
  color: #cfd6d9;
  border: 1px solid #cfd6d9;
  line-height: 30px;
  text-decoration: none;
  transition: all .3s;
  z-index: 999; }

a.solink::first-letter {
  text-transform: capitalize; }

a.solink:hover {
  color: #428bca; }

.article p {
  font-family: sans-serif;
  font-size: 30px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 25px;
  margin-bottom: 25px; }

.footer {
  background-color: #695925;
  color: #ffffff;
  margin-left: -15px;
  margin-right: -15px; }
  .footer h4 {
    margin-left: 70px;
    padding-top: 5px; }
  .footer .pote {
    width: 60%;
    float: right;
    margin-right: 30px; }

/*# sourceMappingURL=style.css.map */
